__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
*.egg-info/
.cache/
chroma_db/
.env
API_DOCS.md
.vscode/
resources/*
!resources/.gitkeep

output/*
!output/.gitkeep
